body {
    font-family: 'Exo', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

hr {
    border: 1px solid black;
}

.link-noticia {
    text-decoration: none;
    color: inherit;
    display: block;
}